@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #fafafa;
  color: #333333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Esto son estilos para el encabezado */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #666666;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #000000;
}

main {
  flex-grow: 1; /* Hace que el main ocupe el espacio disponible y empuje el footer abajo */
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: #111111;
}

p {
  margin-bottom: 1.5rem;
  color: #555555;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.85rem;
  color: #999999;
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contacto {
  text-decoration: underline;
  color: #49627e;
}

.sobre_mi {
  text-decoration: underline;
  color: #49627e;
}
